<a href="https://colab.research.google.com/github/JamesAttwood1910/Diplomado_USACH/blob/main/Data_cleaning_DissertationProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data preprocessing

In [1]:
# Libraries

import pandas as pd
import numpy as np

In [2]:
# Connect Google drive

from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [5]:
# Load data

df = pd.read_csv('/content/drive/MyDrive/Javi/DataNuevo_Nombres.csv')

In [ ]:
# Delete personal information variables

df.drop(['Unnamed: 0', 'Marca temporal', 'Nombre de usuario', 'Acepto'], axis =1, inplace = True)

In [10]:
df.drop(index = 88, inplace = True)

In [11]:
# Convert Sanitary measure test variables from categoric to numeric values

df.loc[:,df.columns.str.contains("MS")]

              MS1           MS2  ...          MS11          MS12
0         Siempre  Casi siempre  ...       Siempre       Siempre
1    Casi siempre       Siempre  ...         Nunca       A veces
2    Casi siempre       Siempre  ...  Casi siempre    Casi nunca
3         Siempre       Siempre  ...       Siempre       A veces
4         Siempre       Siempre  ...  Casi siempre  Casi siempre
..            ...           ...  ...           ...           ...
177       Siempre       Siempre  ...       A veces  Casi siempre
178       Siempre       Siempre  ...  Casi siempre  Casi siempre
179  Casi siempre       Siempre  ...       Siempre       Siempre
180  Casi siempre       Siempre  ...       A veces    Casi nunca
181       Siempre       Siempre  ...       Siempre       Siempre

[181 rows x 12 columns]

In [12]:
MS_dict = {'Nunca' : 0,
               'Casi nunca' : 1,
          'A veces': 2,
          'Casi siempre': 3,
          'Siempre': 4}

In [18]:
def Nmap(columna): 
  df[columna] = df[columna].map(MS_dict)
  return

In [16]:
MS = df.loc[:,df.columns.str.contains("MS")]

In [19]:
for x in MS.columns:
  Nmap(x)

In [20]:
df['MS4']

0      4
1      1
2      2
3      3
4      4
      ..
177    3
178    3
179    3
180    4
181    4
Name: MS4, Length: 181, dtype: int64

In [ ]:
# Convert Barratt Test variables from cateogrical to numerical

In [21]:
B_dict = {'Raramente o Nunca' : 0,
               'Ocasionalmente' : 1,
          'A menudo': 3,
          'Siempre o casi siempre': 4}

In [22]:
Barratt = df.loc[:,df.columns.str.contains("B")]

In [23]:
def Bmap(columna):
  df[columna] = df[columna].map(B_dict)
  return

In [24]:
for x in Barratt.columns:
  Bmap(x)

In [25]:
df['B2']

0      0
1      4
2      4
3      3
4      1
      ..
177    3
178    0
179    0
180    3
181    0
Name: B2, Length: 181, dtype: int64

In [ ]:
# Convert sex to numeric

In [26]:
df['Sexo:'] = np.where(df['Sexo:'] == "Mujer", 0, 1)

In [27]:
df['Sexo:'].value_counts()

0    126
1     55
Name: Sexo:, dtype: int64

In [ ]:
# Convert Income (IPC) to numeric

In [28]:
df['IPC'].value_counts()

mayor a $770.000             45
entre $480.000 - $770.000    33
entre $350.000 - $480.000    29
entre $280.000 - $350.000    20
entre $220.000 - $280.000    15
entre $70.000 - $110.000     12
entre $180.000 - $220.000    11
entre $110.000 - $150.000     9
entre $150.000 - $180.000     4
entre $0 - $70.000            3
Name: IPC, dtype: int64

In [29]:
df['IPC'].unique()

array(['mayor a $770.000', 'entre $350.000 - $480.000',
       'entre $110.000 - $150.000', 'entre $280.000 - $350.000',
       'entre $180.000 - $220.000', 'entre $480.000 - $770.000',
       'entre $70.000 - $110.000', 'entre $220.000 - $280.000',
       'entre $150.000 - $180.000', 'entre $0 - $70.000'], dtype=object)

In [30]:
Ingreso_dict = {'entre $0 - $70.000': 1,
                'entre $70.000 - $110.000':2,
                'entre $110.000 - $150.000': 3,
                'entre $150.000 - $180.000':4,
                'entre $180.000 - $220.000':5,
                'entre $220.000 - $280.000':6,
                'entre $280.000 - $350.000':7,
                'entre $350.000 - $480.000':8,
                'entre $480.000 - $770.000':9,
                'mayor a $770.000':10}

In [31]:
df['IPC'] = df['IPC'].map(Ingreso_dict)

In [32]:
df['IPC'].value_counts()

10    45
9     33
8     29
7     20
6     15
2     12
5     11
3      9
4      4
1      3
Name: IPC, dtype: int64

In [ ]:
# Educational level to numeric

In [33]:
df['Nivel Educacional'].unique()

array(['Universitaria completa',
       'Técnica o Superior en curso o incompleta',
       'Universitaria en curso o incompleta',
       'Post Títulos en curso o incompletos',
       'Educación Media Técnico Profesional Completa',
       'Técnica o Superior completa',
       'Educación Media Científico Humanista completa',
       'Post Títulos completo', 'Educación Básica Completa'], dtype=object)

In [34]:
Educ_dict = {'Educación Básica Completa':1,
             'Educación Media Técnico Profesional Completa':2,
             'Educación Media Científico Humanista completa':3,
             'Técnica o Superior en curso o incompleta':4,
             'Técnica o Superior completa': 5,
             'Universitaria en curso o incompleta':6,
             'Universitaria completa':7,
             'Post Títulos en curso o incompletos':8,
             'Post Títulos completo':9
             }

In [35]:
df['Nivel Educacional'] = df['Nivel Educacional'].map(Educ_dict)

In [36]:
df['Nivel Educacional'].value_counts()

6    92
7    38
5    11
4    10
8     9
9     7
3     7
2     4
1     3
Name: Nivel Educacional, dtype: int64

In [ ]:
# Change 'other' response to 'Work and study'.

In [38]:
df['Si su respuesta anterior fue \'\'Otro\'\', indique cual : '].value_counts()

Trabajar y estudiar     1
Name: Si su respuesta anterior fue ''Otro'', indique cual : , dtype: int64

In [39]:
df[df['Si su respuesta anterior fue \'\'Otro\'\', indique cual : '] == 'Trabajar y estudiar ']

    Sexo:  Edad  IPC  Nivel Educacional Ocupación  ... B26 B27 B28  B29  B30
45      0    20    3                  6      Otro  ...   3   4   1    4    3

[1 rows x 50 columns]

In [40]:
df[df['Ocupación'] == 'Otro']

    Sexo:  Edad  IPC  Nivel Educacional Ocupación  ... B26 B27 B28  B29  B30
45      0    20    3                  6      Otro  ...   3   4   1    4    3

[1 rows x 50 columns]

In [41]:
df['Ocupación'] = np.where(df['Ocupación'] == 'Otro', 'Estudiante y trabajador/a', df['Ocupación'])

In [42]:
df['Ocupación'].value_counts()

Estudiante                   81
Trabajador/a                 76
Estudiante y trabajador/a    23
Cesante                       1
Name: Ocupación, dtype: int64

In [ ]:
# Convert ocupation to numeric

In [43]:
Ocupación_Dict = {'Estudiante': 0,
                'Trabajador/a': 1,
                'Estudiante y trabajador/a':2,
                'Cesante': 3}

In [44]:
df['Ocupación'] = df['Ocupación'].map(Ocupación_Dict)

In [45]:
df['Ocupación'].value_counts()

0    81
1    76
2    23
3     1
Name: Ocupación, dtype: int64

In [ ]:
# Make new variable which combines 'if you live with someone at a high risk from covid' and the 'type of risk'

In [47]:
df['AltoRiesgoCondicion'] = np.where(df['Tipo de condición?'].isna(), df['Vivió con alguien de alto riesgo'], df["Tipo de condición?"])

In [48]:
df['AltoRiesgoCondicion'].isna().sum()

0

In [49]:
df['AltoRiesgoCondicion'].value_counts()

No                                                                                   94
Persona con enfermedad crónica (Hipertensión , diabetes, problemas cardíaco, etc)    37
Ambas respuestas anteriores                                                          25
Adulto mayor                                                                         16
Otro                                                                                  9
Name: AltoRiesgoCondicion, dtype: int64

In [50]:
df['AltoRiesgoCondicion'].count()

181

In [51]:
AltoRiesgoCondicion_Dict = {'No': 0,
                'Persona con enfermedad crónica (Hipertensión , diabetes, problemas cardíaco, etc)': 1,
                'Ambas respuestas anteriores':2,
                'Adulto mayor': 3,
                'Otro': 4}

In [52]:
df['AltoRiesgoCondicion'] = df['AltoRiesgoCondicion'].map(AltoRiesgoCondicion_Dict)

In [53]:
df.head()

   Sexo:  Edad  IPC  Nivel Educacional  ...  B28 B29 B30 AltoRiesgoCondicion
0      0    34   10                  7  ...    1   0   4                   0
1      1    27    8                  4  ...    4   3   1                   2
2      1    25    3                  6  ...    1   4   1                   0
3      0    37   10                  8  ...    3   1   4                   0
4      0    21    7                  6  ...    3   4   3                   2

[5 rows x 51 columns]

In [ ]:
df3.drop(['Unnamed: 0', 'Marca temporal', 'Nombre de usuario', 'Acepto', 'AltoRiesgoCondicion'], axis =1, inplace = True)

In [ ]:
# For the variables of the barrat test when 4 represented less impulsive, the order needs to be changed. 
# After the change 4 will represent more impulsive and 0 as least impulsive.

In [54]:
FiveMenosImp = ['B1', 'B5', 'B6',
       'B7', 'B8', 'B10', 'B11', 'B13', 
       'B17', 'B19', 'B22', 'B30']

In [56]:
df[FiveMenosImp] = np.where(df[FiveMenosImp] == 4, 0, (np.where(df[FiveMenosImp] == 3,1,
                                              np.where(df[FiveMenosImp] == 1,3, np.where(df[FiveMenosImp] == 0, 4, np.nan)))))

In [57]:
# Make a Barratt total variable. 

df['BarrattTotal'] = df.filter(like = 'B', axis=1).sum(axis =1)

In [ ]:
# for all of the variables related to the following of health measures 5 represents 
# the best compliance with the measures.

In [58]:
# Make a health measures total variable
df['MSTotal'] = df.filter(like = 'MS', axis=1).sum(axis =1)

In [ ]:
# Make three sub total groups for types of impulsivity (cognitive, motor, not planned)

In [59]:
Impulsividad_Cognitiva = ['B4', 'B7', 'B10', 'B13', 'B16', 'B19', 'B24', 'B27']
Impulsividad_Motora = ['B2', 'B6', 'B9', 'B12', 'B15', 'B18', 'B21', 'B23', 'B26', 'B29']
Impulsividad_no_planeada = ['B1', 'B3', 'B5', 'B8', 'B11', 'B14', 'B17', 'B20', 'B22', 'B25', 'B28', 'B30']

In [60]:
df['Impulsividad_Cognitiva_Total'] = df[Impulsividad_Cognitiva].sum(axis =1)
df['Impulsividad_Motora_Total'] = df[Impulsividad_Motora].sum(axis=1)
df['Impulsividad_no_planeada_Total'] = df[Impulsividad_no_planeada].sum(axis =1)

In [ ]:
# Make three sub groups for types of health measures (hygine, social distancing, sanitary measures)

In [61]:
Higiene = ['MS1', 'MS3', 'MS8', 'MS12']
Distanciamiento_Social = ['MS4', 'MS5', 'MS10', 'MS11']
Medidas_Sanitarias = ['MS2', 'MS6', 'MS7', 'MS9']

In [62]:
df['Higiene_Total'] = df[Higiene].sum(axis =1)
df['Distanciamiento_Social_Total'] = df[Distanciamiento_Social].sum(axis =1)
df['Medidas_Sanitarias_Total'] = df[Medidas_Sanitarias].sum(axis =1)

In [ ]:
# Make variable for age groups (18 - 25 and 26 - 40)

In [64]:
df['Grupos_etarios'] = np.where(df.Edad <= 25, '18-25', '26-40')

In [65]:
df.head()

   Sexo:  Edad  ...  Medidas_Sanitarias_Total  Grupos_etarios
0      0    34  ...                        15           26-40
1      1    27  ...                         6           26-40
2      1    25  ...                         8           18-25
3      0    37  ...                        16           26-40
4      0    21  ...                        13           18-25

[5 rows x 60 columns]